//colors
$green : #cdfce5;
$blue : #000036;
$xs-width : "320px";
$sm-width : "480px";
$md-width : "768px";
$lg-width : "992px";
$xl-width : "1200px";

body {
  background-color: $green;
  color:$blue;
}
