/* footer */
footer {
  color: $green;
  background-color : $blue;
  padding-left: 7%;
  padding-right:7%;
  padding-top: 25px;
  margin-top:2em;
}

div > img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}
.fa {
  color:$green;
  padding:5%;
}
li a,li a:hover {
  color:$green;
}
