body {
  text-align: center;
}

#game {
  border-radius: 10px;
  border: 1px solid GRAY;
  background: DARKGREEN;
   //width: 500px;
   //height: 460px;
   width: 800px;
   height:800px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
/* help to center all the cards in game area */
#cards {
  position: relative;
  //width: 380px;
  //height:400px;
  width: 600px;
  height:600px;
}
/* give visual depth to card */
.card {
  perspective: 600px;
  width: 72px;
  height: 100px;
  position: absolute;
  transition: all .3s;
}
/* cards have 2 faces */
.face {
  border-radius: 10px;
  width: 100%;
  height:100%;
  position:absolute;
  transition-property: opacity, transform, box-shadow;
  transition-duration: .3s;
  backface-visibility: hidden;
}
/*style front and back of card */
.front {
  //background: GRAY url(../images/cards.gif) 0 -400px;}
  background: GRAY url(../images/matchsprite.jpg) -240px -480px;}

.back {
  //background: LIGHTGREY url(../images/cards.gif);
  background: LIGHTGREY url(../images/matchsprite.jpg);
  transform: rotate3d(0,1,0,-180deg);
}
.card:hover .face, .card-flipped .face {
  box-shadow: 0 0 10px #aaa;
}
.card-flipped .front {
  transform: rotate3d(0,1,0,180deg);
}
.card-flipped .back {
  transform: rotate3d(0,1,0,0deg);
}
/*remove card, have it fade out */
.card-removed {
  opacity: 0;
}

.cardAndre {background-position: 0 0;}
.cardBuffy {background-position: -80px 0;}
.cardDraco {background-position: -160px 0;}
.cardGeorge {background-position: -240px 0;}
.cardGertrude {background-position: 0 -120px;}
.cardHillary {background-position: -80px -120px;}
.cardIsabella {background-position: -160px -120px;}
.cardKonrad {background-position: -240px -120px;}
.cardLaLa {background-position: 0 -240px;}
.cardLauence {background-position: -80px -240px;}
.cardLeo {background-position: -160px -240px;}
.cardMartha {background-position: -240px -240px;}
.cardOliver {background-position: 0 -360px;}
.cardPatti {background-position: -80px -360px;}
.cardPeter {background-position: -160px -360px;}
.cardPetunia {background-position: -240px -360px;}
.cardPrudence {background-position: 0 -480px;}
.cardSergio {background-position: -80px -480px;}
.cardTig {background-position: -160px -480px;}
