/*global css */
body {
  background-color: #cdfce5;
  color:#000036;
}

/* header section */
header {background-image: url("../images/peepbackground.jpg");
        background-color: #cdfce5;
        background-size: cover;
        background-repeat: no-repeat;
        padding:10%;
        height: 300px;
        }
.jumbotron {color: #cdfce5;
    text-align : center;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom:0px;}

@media screen and (min-width: 768px) {  /* change header size for larger devices */
  .jumbotron {
    font-size: 4em;
  }
}

.outline {color:#cdfce5; /* outlines the letters in black, easier to read */
          text-shadow:
          -1px -1px 0 #000,
          1px 1px 0 #000,
          1px 1px 0 #000,
          1px 1px 0 #000;}

/* navbar */
nav {
  z-index:100;
}
/* top navbar */
.nav.navbar-nav li a { /*nav bar selection */
  color: #000036;
}

.nav.navbar-nav li a:hover {
  background-color:#cdfce5;
}
li.active {
  background-color: #cdfce5;
}
.nav.navbar-nav > .active  > a{ /*changes color of nav-bar top active */
  background-color: #cdfce5;
}
.nav.navbar-nav .dropdown.open .dropdown-toggle{ /* nav bar with dropdown */
  background-color: #cdfce5;
}

.navbar-header .navbar-toggle .icon-bar {
  background-color: #000036;
}
.navbar-header .navbar-toggle{
  background-color: #cdfce5;
}
.navbar-header .navbar-toggle.collapsed {
  background-color:#cdfce5;
}
.affix {
  top:0;
  width:100%
}
.affix + .container-fluid {
  padding-top: 70px;
}

/* meet the peeps accoridan */
.panel {
  background-color: #cdfce5;
  color: #000036;
  border: 1px solid #000036;
}

.panel-default > .panel-heading {
  background-color:#000036;
  color:#cdfce5;
}

/* footer */
footer {
  color: #cdfce5;
  background-color : #000036;
  padding-left: 7%;
  padding-right:7%;
  padding-top: 25px;
}

div > img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}
.fa {
  color:#cefce5;
  padding:5%;
}
li a,li a:hover {
  color:#cdfce5;
}
/*work around when nav link is on same page, nav was covering */
@media (max-width:767px){
  .anchor:before {
    display:block;
    content:" ";
    height:240px;
    margin-top:-240px;
    visibility:hidden;
  }
}
@media (min-width:768px) and (max-width:991px){
  .anchor:before {
    display:block;
    content:" ";
    height:100px;
    margin-top:-100px;
    visibility:hidden;
  }
}

@media (min-width:992px){
  .anchor:before {
    display:block;
    content:" ";
    height:140px;
    margin-top:-140px;
    visibility:hidden;
  }
}
